@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,600i,700';

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    background: #eee;
    font-family: 'Source Sans Pro', Helvetica, Clean, sans-serif;
    font-weight: 400;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.site-wrap {
    max-width: 90vw;
    margin: 40px auto;
    background: white;
    padding: 1rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

header {
    height: 20vh;
    background: url(../img/img.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 420px){
    header {
        height: 12vh;
    }
}

p {
    margin: 1rem 0;
}

h1 {
    color: white;
    font-size: 7vw;
    font-weight: 400;
    text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2)
}

nav {
    background: #007eb6;
    width: 100%;
    transition: all 0.5s;
    z-index: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}

nav li {
    flex: 1;
    text-align: center;
}

nav a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

img {
    width: 100%;
}

body.fixed-nav nav {
    position: fixed;
    top: 0;
    box-shadow:0 5px 3px rgba(0,0,0,0.1);
    width: 100%;
    z-index: 1;
}

.site-wrap {
    max-width: 780px;
    margin: 40px auto;
    background:white;
    padding:40px;
    text-align: justify;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    /* add these two */
    transform: scale(0.98);
    transition: transform 0.5s;
}

body.fixed-nav .site-wrap {
    transform: scale(1);
}

li.logo img {
    padding-top: 0.25rem;
    width: 2.5rem;
}

li.logo {
    max-width:0;
    overflow: hidden;
    background: white;
    transition: all 0.5s;
    font-weight: 600;
    font-size: 30px;
}

.fixed-nav li.logo {
    max-width:500px;
}

.entry {
    margin-bottom: 1.5rem;
}
.entry h4 {
    margin: 0.25rem 0;
}
.entry p {
    margin: 0;
    margin-left: 75px;
}
.entry img {
    float: left;
    width: 75px;
    padding: 0 0.5rem 0 0;
}
.entry a {
    color: #007eb6;
    text-decoration: none;
}