@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i';


html {
  box-sizing: border-box;
  background:#eeeeee;
  font-family:'Source Sans Pro', Helvetica, Clean, sans-serif;;
  font-size: 100%;
  font-weight: 400;
}
body {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.site-wrap {
  max-width: 780px;
  margin: 40px auto;
  background:white;
  padding: 20px 40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

header {
  text-align: center;
  height:40vh;
  background:url(../img/img.jpg) center no-repeat;
  background-size:cover;
  display:flex;
  align-items:center;
  justify-content: center;
}

h1 {
  color:white;
  font-size: 7vw;
  font-weight: 300;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2)
}

nav {
  background:#007eb6;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  display: inline-block;
  color:white;
}
